.admin-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .admin-sidebar {
    width: 250px;
    background-color: var(--eerie-black-2);
    padding: 20px;
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-sidebar li a {
    color: var(--white);
    padding: 10px;
    display: block;
    text-decoration: none;
  }
  
  .admin-sidebar li a:hover {
    background-color: var(--gold-crayola);
  }
  
  .admin-main {
    flex: 1;
    background-color: var(--smoky-black-1);
    padding: 20px;
    color: var(--white);
  }
  
  .admin-header {
    background-color: var(--eerie-black-1);
    padding: 10px;
    color: var(--gold-crayola);
    display: flex;
    justify-content: space-between;
  }
  